body{
    text-align:center;
}
#streamer{
    background-color: aquamarine;
    width: 700px;
    height: auto;
    margin: auto;
    padding-top:10px;
    padding-right:40px;
    padding-bottom:1px;
}
img{
    width: 50px;
    height: 50px;
    border-radius:50%;
}
li{
    position: relative;
    background-color: lightgrey;
    list-style: none !important;
    padding: 10px;
    margin:5px;
}
#links{
    padding-top: 17.5px;
}
button{
    position:relative;
    width:150px;
    margin-left:41.5px;
    margin-bottom:20px;
}
h3{
    padding:10px;
}

#all #offline #online{
    background-color: lavender;
}